@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100vw;
    height: 100vh;
    background: #38465A;
    padding: 20px;
}

a {
    text-decoration: underline;
    color: #ffffff;
}

.container1 h1 {
    color: #ffffff;
    font-family: Rubik Mono One;
    font-size: 30px;
}

.container1 p {
    color: #ffffff;
    font-family: Open sans;
    font-size: 16px;

}

.screen1-img img {
    width: 70vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

.screen2-img img {
    width: 70vw;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.container2 h1 {
    font-family: Poppins;
    color: #000000;
    font-weight: 800;
}

.container2 p {
    font-family: Poppins;
    color: #000000;
    font-weight: 300;
    font-size: 12px;
}

.container2 {
    padding: 20px;
    background: #ffffff;
    width: 87vw;
    height: auto;
    border-radius: 10px;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url('/Images/screen1.jpg');
    height: cal(100 - 80px);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.section3 {
    height: 130vh;
}

.screen3-img img {
    width: 70vw;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.container3 {
    padding: 20px;
    background: #ffffff;
    width: 87vw;
    height: auto;
    border-radius: 10px;
}

.container3 h1 {
    font-size: 28px;
    font-family: Quicksand;
    font-weight: 600;
}

.container3 p {
    font-size: 12px;
    color: #000000;
    font-family: Poppins;
}

.section4 img {
    width: 87vw;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section4 {
    height: 300vh;
}

.heading h1 {
    font-family: Quantico;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #EDF0F2;
}

.hydra {
    font-family: Quicksand;
    color: #ffffff;
}

.scout {
    font-family: Quicksand;
    color: #ffffff;
}

.heavy {
    font-family: Quicksand;
    color: #ffffff;
}

.hydra-heading,
.scout-heading,
.heavy-heading {
    border: 2px solid #1FB8A6;
    padding: 15px;
    margin-bottom: 10vh;
}

.heavy-heading h1 {
    padding-bottom: 2vh;
}

.scout-heading h1 {
    padding-bottom: 2vh;
}

.hydra-heading h1 {
    padding-bottom: 2vh;
}

.booking-heading h1 {
    font-family: Poppins;
    color: rgb(154, 165, 182);
    font-size: 24px;
    font-weight: 700;
}

.booking-heading p {
    font-family: Poppins;
    color: rgb(154, 165, 182);
    font-size: 14px;
}

.imgg {
    width: 76vw;
    height: auto;
}

.learn-more-a a {
    font-family: Poppins;
    color: rgb(154, 165, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.flex-icon a {
    color: #437AA1 !important;
    text-decoration: none !important;
    font-size: 24px;
}

.flex-icon {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}